<html>
  <head>
    <title>Sign-In</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

    <h1>Not-Authenticated</h1>

    <!-- form for sign-up: to make a new user -->
<form class="" action="/volunteer" method="post">
  <input type="text" name="first_name" placeholder="first name">
  <input type="text" name="last_name" placeholder="last name">
  <input type="submit" name="name" value="Sign-up">
</form>


    <!-- form for sign-in: to make a new session -->
    <!-- <form action="/sessions" method='post'>
      <input type="text" name='username' placeholder='...username'>
      <input type="password" name='password' placeholder='...password'>
      <input type="submit" value='Sign-In'>
    </form> -->

  </body>
</html>
