<html>
  <head>
    <title>Sign-In</title>
  </head>
  <body>
    <div id="wrapper">
      <div id="container">
      <h1>Sign Up to Volunteer</h1>

      <!-- form for sign-up: to make a new user -->
      <form id="volunteer-form" action="/volunteer" method="post">
        <input type="text" name="first_name" placeholder="first name">
        <input type="text" name="last_name" placeholder="last name">
        <select name="duty">
          <option value="Water Station">Water Station</option>
          <option value="Crowd Control">Crowd Control</option>
          <option value="Cheer Squad">Cheer Squad</option>
        </select>
        <input id="submit" type="submit" value="Sign-up">

      </form>

      <a href="/admin" id="admin">admin Sign-in</a>
    </div>
    </div>
  </body>

    <!-- ****** JS Libraries ****** -->
    <script src='/javascripts/lib/jquery.js'></script>
    <script src='/javascripts/lib/underscore.js'></script>
    <script src='/javascripts/lib/backbone.js'></script>

    <!-- ****** Bootstrap ****** -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <script src="javascripts/bootstrap.min.js"></script>


    <link rel="stylesheet" href="/stylesheets/style.css">
</html>
