<html>
  <head>
    <title>Sign-In</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

    <h1>Volunteer Not-Authenticated</h1>

    <!-- form for sign-up: to make a new user -->
<form id="volunteer-form" action="/volunteer" method="post">
  <input type="text" name="first_name" placeholder="first name">
  <input type="text" name="last_name" placeholder="last name">
  <input type="submit" value="Sign-up">
</form>

<a href="/admin">admin Sign-in</a>

</body>
</html>


    <!-- form for sign-in: to make a new session -->
    <!-- <form action="/sessions" method='post'>
      <input type="text" name='username' placeholder='...username'>
      <input type="password" name='password' placeholder='...password'>
      <input type="submit" value='Sign-In'>
    </form>
