#wrapper{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url(/Marathon.jpg) !important;
  background-position: stretch;
  background-repeat: no-repeat;
  background-size: cover;

}
h1{
  margin: 0;
  text-align: center;
}

#container {
  background-color: white;
  width: 60%;
  margin:  auto;
  opacity: .8;
  position: relative;
  top: 30%;
  border-radius: 10px;
}

input{
  display: block;
  margin-top: 5px;
  margin-left: 40%;
  margin-bottom: 5px;

}

select{
  display: block;
  margin: 0 auto;
}

#submit{
  margin-top: 5px;
  margin-left: 45%;
}

#admin{
  margin-left: 5px;
}
